doctype html
html
  head
    title Index Page
  body
    h1 #{name}..!
    h2= description
    hr
    - for(var i=0;i<10;i++){
        p
          a(href="http://www.naver.com", data-test="multiple attribute") Go To Naver #{i}
    - }
